<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
      
            
    <h1>{{dbooks.title}}</h1>
    ID : {{dbooks.id}} <br> <br>
    description : {{dbooks.desc}} <br> <br>
    <!-- Authors: {{dbooks.Author.auts.first_name}} -->
    Authors :{% for author in dbooks.auts.all %}
        <h4>{{author.first_name}} {{author.last_name}} </h4>
      {% endfor %}
   
</body>
</html>