<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login and Registeration </title>
</head>
<body>
    
    <h1>Login </h1>
    <form action="/login" method="POST">
        {% csrf_token %}
        <input type="hidden" name="class" value="loginButton">
        Name: <input type="text" name="name" value="">
        email : <input type="email" name="email" value="">
        password: <input type="password" name="password" value="">
        <input type="submit" name="submit" value="login">
    </form>
    <h1>Register</h1>

    <form action="/login" method="POST">
        {% csrf_token %}
        <input type="hidden" name="class" value="registerButton">
        Name: <input type="text" name="name" value="">
        email : <input type="email" name="email" value="">
        password: <input type="password" name="password" value="">
        <input type="submit" name="submit" value="register">
    </form>

    {% if messages %}
<ul class="messages">    
    {% for message in messages %}    
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
    {% endfor %}
</ul>
{% endif %}
</body>
</html>