<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/result" method="post">
        First Name <input type="text" name='firstname'  >
        Last Name <input type="text" name="lastname"> <br><br>
        dojo location   <select name="dojolocation">
            <option>Jerusalem</option>
            <option>Ramallah</option>
            <option>Yafa</option>
            <option>Akka</option>
            <option>Gaza</option>
          </select> <br><br>
        Fav Language   <select name="favlanguage">
            <option >python</option>
            <option >Mern</option>
            <option >C++</option>
            <option >JAVA</option>
          </select><br><br>
        comment (optional): <div><input type="text"  style="width: 300px; height: 100px; border: 1px solid black;" name="comment"> </div> <br><br>
        <button>Submit</button>
    </form>
</body>
</html>